
#
# Module configuration file for
# Eqela Tasklist(Coronia)
# (com.earlsoncoronia.eqelatasklistcoronia)
#

displayname: Eqela Tasklist(Coronia)
moduletype: widgetapplication
depends: com.eqela.libcommonwidget
depends: com.eqela.libtextinputwidget
depends: com.eqela.libselectorwidget
depends: com.eqela.libdialogwidget
depends: com.eqela.libpopupwidget
depends: com.eqela.libapplicationdata
